<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- <title color="red">welcome</title> -->
        <!-- <link rel="icon" type="image/jpg" href="ProjFiles\Images\TitleBarIcon.jpg" sizes="16x16"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="ProjFiles\CssFiles\index2CSS.css" type="text/css" media="screen" />
        <!-- <link rel="stylesheet" media="screen and (max-width: 600px)" href="widescreen.css">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="widescreen.css">
        <link rel="stylesheet" media="screen and (min-width: 768px)" href="smallscreen.css"> -->
        <!-- <link rel="stylesheet" href="ProjFiles\CssFiles\dropstyle.css" type="text/css" media="screen" /> -->
        <!-- <script src="../JavaScript/AudioBodyServices.js" type="text/javascript"></script> -->
    </head>
    <body>

        <!-- <div class="container">

        </div> -->

        <center class="mainCenterAttr">
            <div class="imageBackground">
                <div class="imageLogoDiv">
                    <!-- <center class="imageLogo"> -->
                    <img type="image/jpg" class="imageLogo" style="background-repeat: no-repeat; background-size: 100% 100%;" src="ProjFiles\Images\SigninOne.jpg" />
                    <!-- <img class="col-9 col-m-6" type="image/jpg" style="background-repeat: no-repeat; background-size: contain;" src="ProjFiles\Images\SigninOne.jpg" /> -->
                <!-- </center> -->
                </div>
                <div>
                    <center class="formData">
                    <!-- <table> -->
                            <form >
                                <div class="dataBody">
                                    <div class="inputDiv">
                                        <div class="inputLabelDiv">
                                            <tr>
                                                <label class="entryLabels">Name:</label>
                                            </tr>
                                        </div>
                                        <div class="inputTextPassDiv">
                                            <tr>
                                                <input type="text" placeholder="Enter Name" name="itemId" class="entries"/>
                                            </tr>
                                        </div>
                                    </div>
                                    <div class="brHeight" ></div>
                                    <div class="inputDiv">
                                        <div class="inputLabelDiv">
                                            <tr>
                                                <label class="entryLabels">Password:</label>
                                            </tr>
                                        </div>
                                        <div class="inputTextPassDiv">
                                            <tr >
                                                <input type="password" placeholder="Enter Password" name="passwordId" class="entries"/>
                                            </tr>
                                        </div>
                                    </div>
                                    <div class="brHeight" ></div>
                                    <div class="brHeight" ></div>
                                    <div class="inputButtonDiv">
                                        <tr>
                                            <input type="submit" name="submitMovie" value="Submit" class="submitButton"/>
                                        </tr>
                                    </div>
                                </div>
                            </form>
                        <!-- <form>
                            <tr>
                                <td>
                                    Name:
                                </td>
                                <td>
                                    <input type="text" name="itemId"  class="entries"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Password:
                                </td>
                                <td >
                                    <input type="password" name="passwordId"  class="entries"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" name="submitMovie" value="Submit"/>
                                </td>
                            </tr>
                        </form> -->
                    <!-- </table> -->
                </center>
                </div>
            </div>
        </center>
    </body>
</html> 
