.imageCellViewImage
{
    height : 100px; 
    width : 100px;
    margin: 0px;
    padding: 0px;
    /* float:left */
}
.imageCellViewDiv
{
    position:static; 
    margin:0px; 
    padding: 0px;
    height:100px; 
    width:100px; 
    /* float:left;  */
    vertical-align:middle
}
.imageCellViewButton{
    height: auto;
    width: auto;
    float: left;
    margin: 5px;
}

.folderCellViewImage{
    height : 100px; 
    width : 100px;
    margin: 0px;
    padding: 0px;
    /* float:left */
}
.folderCellViewDiv{
    position:static; 
    margin:0px; 
    padding: 0px;
    height:100px; 
    width:100px; 
    /* float:left;  */
    vertical-align:middle
}
.folderCellViewButton{
    height: auto;
    width: auto;
    float: left;
    margin: 5px;
}